# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
pip-log.txt
pip-delete-this-directory.txt

# Django
local_settings.py
db.sqlite3
media
staticfiles

# Environment variables
.env
.env.example

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# IDE
.idea
.vscode

#DOC
doc/