# Database Configuration (Supabase)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=[PASSWORD_CUA_BAN_TREN_SUPABASE]
DB_HOST=db.[PROJECT_REF].supabase.co
DB_PORT=5432

# Security
SECRET_KEY=django-insecure-change-me-in-production-!@#
DEBUG=True
ALLOWED_HOSTS=*

# Channel Layer Configuration
# Set to True to use Redis, False to use InMemory
USE_REDIS=True
REDIS_HOST=redis
REDIS_PORT=6379
#Test Github Actions