
torch
torchvision

cython
numpy
numba
loguru
scikit-image
tqdm
Pillow
thop
ninja
tabulate
tensorboard
pycocotools

lap
filterpy
h5py
protobuf==3.20.3

opencv-python-headless

onnx
onnxruntime
onnx-simplifier

onnxscript

pydantic>=2.5.0
python-dotenv
websocket-client